<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="split left"></div>

<div class="split2 right">
  <div class="centered">
    <div class="centered2">
      <img src="https://www.freepnglogos.com/uploads/photography-logo-png/photography-logo-photography-since-ribbon-camera-transparent-png-6.png" alt="Logo">
      <h3>Welcome to your App</h3>
    </div>
    
    
    <div class="text-centered1">
      <div class="inputs1">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
        </p>
      </div>

      <div class="inputs1">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>lock_open</mat-icon>
          </mat-form-field>
        </p>
      </div>
      
      <div class="inputs1 BTN">
        <button mat-raised-button>Primary</button>
      </div>
   </div>
  </div>
  
</div>
     
</body>
</html> 
